<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet>
         <menu
                 id="m+"
                 label="%menu_mp"
                 path="m+">
         </menu>
      </actionSet>
      <actionSet>
         <menu
                 id="cpp"
                 label="%menu_cpp"
                 path="m+/cpp">
         </menu>
         <action
                 label="%menu_cpp_convert_to_raw_pointer"
                 class="main.kotlin.service.cpp.ConvertToRawPointer"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToRawPointer">
         </action>
         <action
                 label="%menu_cpp_convert_to_weak_ptr"
                 class="main.kotlin.service.cpp.ConvertToWeakPtr"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToWeakPtr">
         </action>
         <action
                 label="%menu_cpp_convert_to_shared_ptr"
                 class="main.kotlin.service.cpp.ConvertToSharedPtr"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToSharedPtr">
         </action>
         <action
                 label="%menu_cpp_convert_to_unique_ptr"
                 class="main.kotlin.service.cpp.ConvertToUniquePtr"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToUniquePtr">
         </action>
         <action
                 label="%menu_cpp_convert_to_no_collection"
                 class="main.kotlin.service.cpp.ConvertToNoCollection"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToNoCollection">
         </action>
         <action
                 label="%menu_cpp_convert_to_multimap"
                 class="main.kotlin.service.cpp.ConvertToMultimap"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToMultimap">
         </action>
         <action
                 label="%menu_cpp_convert_to_map"
                 class="main.kotlin.service.cpp.ConvertToMap"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToMap">
         </action>
         <action
                 label="%menu_cpp_convert_to_multiset"
                 class="main.kotlin.service.cpp.ConvertToMultiset"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToMultiset">
         </action>
         <action
                 label="%menu_cpp_convert_to_set"
                 class="main.kotlin.service.cpp.ConvertToSet"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToSet">
         </action>
         <action
                 label="%menu_cpp_convert_to_priority_queue"
                 class="main.kotlin.service.cpp.ConvertToPriorityQueue"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToPriorityQueue">
         </action>
         <action
                 label="%menu_cpp_convert_to_queue"
                 class="main.kotlin.service.cpp.ConvertToQueue"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToQueue">
         </action>
         <action
                 label="%menu_cpp_convert_to_stack"
                 class="main.kotlin.service.cpp.ConvertToStack"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToStack">
         </action>
         <action
                 label="%menu_cpp_convert_to_deque"
                 class="main.kotlin.service.cpp.ConvertToDeque"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToDeque">
         </action>
         <action
                 label="%menu_cpp_convert_to_list"
                 class="main.kotlin.service.cpp.ConvertToList"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToList">
         </action>
         <action
                 label="%menu_cpp_convert_to_vector"
                 class="main.kotlin.service.cpp.ConvertToVector"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToVector">
         </action>
         <action
                 label="%menu_cpp_add_getter_setter"
                 class="main.kotlin.service.cpp.AddGetterSetter"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.AddGetterSetter">
         </action>
         <action
                 label="%menu_cpp_add_setter"
                 class="main.kotlin.service.cpp.AddSetter"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.AddSetter">
         </action>
         <action
                 label="%menu_cpp_add_getter"
                 class="main.kotlin.service.cpp.AddGetter"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.AddGetter">
         </action>
         <action
                 label="%menu_cpp_convert_to_class"
                 class="main.kotlin.service.cpp.ConvertToClass"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToClass">
         </action>
         <action
                 label="%menu_cpp_convert_to_union"
                 class="main.kotlin.service.cpp.ConvertToUnion"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToUnion">
         </action>
         <action
                 label="%menu_cpp_convert_to_enum"
                 class="main.kotlin.service.cpp.ConvertToEnum"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToEnum">
         </action>
         <action
                 label="%menu_cpp_convert_to_struct"
                 class="main.kotlin.service.cpp.ConvertToStruct"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.ConvertToStruct">
         </action>
         <action
                 label="%menu_cpp_add_destructor"
                 class="main.kotlin.service.cpp.AddDestructor"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.AddDestructor">
         </action>
         <action
                 label="%menu_cpp_add_constructor"
                 class="main.kotlin.service.cpp.AddConstructor"
                 menubarPath="m+/cpp/"
                 id="main.kotlin.service.cpp.AddConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="csharp"
                 label="%menu_csharp"
                 path="m+/csharp">
         </menu>
         <action
                 label="%menu_csharp_convert_to_no_collection"
                 class="main.kotlin.service.csharp.ConvertToNoCollection"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToNoCollection">
         </action>
         <action
                 label="%menu_csharp_convert_to_sortedlist"
                 class="main.kotlin.service.csharp.ConvertToSortedList"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToSortedList">
         </action>
         <action
                 label="%menu_csharp_convert_to_sorteddictionary"
                 class="main.kotlin.service.csharp.ConvertToSortedDictionary"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToSortedDictionary">
         </action>
         <action
                 label="%menu_csharp_convert_to_dictionary"
                 class="main.kotlin.service.csharp.ConvertToDictionary"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToDictionary">
         </action>
         <action
                 label="%menu_csharp_convert_to_queue"
                 class="main.kotlin.service.csharp.ConvertToQueue"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToQueue">
         </action>
         <action
                 label="%menu_csharp_convert_to_stack"
                 class="main.kotlin.service.csharp.ConvertToStack"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToStack">
         </action>
         <action
                 label="%menu_csharp_convert_to_sortedset"
                 class="main.kotlin.service.csharp.ConvertToSortedSet"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToSortedSet">
         </action>
         <action
                 label="%menu_csharp_convert_to_hashset"
                 class="main.kotlin.service.csharp.ConvertToHashSet"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToHashSet">
         </action>
         <action
                 label="%menu_csharp_convert_to_linkedlist"
                 class="main.kotlin.service.csharp.ConvertToLinkedList"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToLinkedList">
         </action>
         <action
                 label="%menu_csharp_convert_to_list"
                 class="main.kotlin.service.csharp.ConvertToList"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToList">
         </action>
         <action
                 label="%menu_csharp_add_getter_setter"
                 class="main.kotlin.service.csharp.AddGetterSetter"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.AddGetterSetter">
         </action>
         <action
                 label="%menu_csharp_add_setter"
                 class="main.kotlin.service.csharp.AddSetter"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.AddSetter">
         </action>
         <action
                 label="%menu_csharp_add_getter"
                 class="main.kotlin.service.csharp.AddGetter"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.AddGetter">
         </action>
         <action
                 label="%menu_csharp_convert_to_class"
                 class="main.kotlin.service.csharp.ConvertToClass"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToClass">
         </action>
         <action
                 label="%menu_csharp_convert_to_enum"
                 class="main.kotlin.service.csharp.ConvertToEnum"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToEnum">
         </action>
         <action
                 label="%menu_csharp_convert_to_struct"
                 class="main.kotlin.service.csharp.ConvertToStruct"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.ConvertToStruct">
         </action>
         <action
                 label="%menu_csharp_add_constructor"
                 class="main.kotlin.service.csharp.AddConstructor"
                 menubarPath="m+/csharp/"
                 id="main.kotlin.service.csharp.AddConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="go"
                 label="%menu_go"
                 path="m+/go">
         </menu>
         <action
                 label="%menu_go_add_constructor"
                 class="main.kotlin.service.go.AddConstructor"
                 menubarPath="m+/go/"
                 id="main.kotlin.service.go.AddConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="kotlin"
                 label="%menu_kotlin"
                 path="m+/kotlin">
         </menu>
         <action
                 label="%menu_kotlin_convert_to_no_collection"
                 class="main.kotlin.service.kotlin.ConvertToNoCollection"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToNoCollection">
         </action>
         <action
                 label="%menu_kotlin_convert_to_treemap"
                 class="main.kotlin.service.kotlin.ConvertToTreeMap"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToTreeMap">
         </action>
         <action
                 label="%menu_kotlin_convert_to_linkedhashmap"
                 class="main.kotlin.service.kotlin.ConvertToLinkedHashMap"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToLinkedHashMap">
         </action>
         <action
                 label="%menu_kotlin_convert_to_hashmap"
                 class="main.kotlin.service.kotlin.ConvertToHashMap"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToHashMap">
         </action>
         <action
                 label="%menu_kotlin_convert_to_map"
                 class="main.kotlin.service.kotlin.ConvertToMap"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToMap">
         </action>
         <action
                 label="%menu_kotlin_convert_to_mutablemap"
                 class="main.kotlin.service.kotlin.ConvertToMutableMap"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToMutableMap">
         </action>
         <action
                 label="%menu_kotlin_convert_to_treeset"
                 class="main.kotlin.service.kotlin.ConvertToTreeSet"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToTreeSet">
         </action>
         <action
                 label="%menu_kotlin_convert_to_linkedhashset"
                 class="main.kotlin.service.kotlin.ConvertToLinkedHashSet"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToLinkedHashSet">
         </action>
         <action
                 label="%menu_kotlin_convert_to_hashset"
                 class="main.kotlin.service.kotlin.ConvertToHashSet"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToHashSet">
         </action>
         <action
                 label="%menu_kotlin_convert_to_linkedlist"
                 class="main.kotlin.service.kotlin.ConvertToLinkedList"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToLinkedList">
         </action>
         <action
                 label="%menu_kotlin_convert_to_arraylist"
                 class="main.kotlin.service.kotlin.ConvertToArrayList"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToArrayList">
         </action>
         <action
                 label="%menu_kotlin_convert_to_array"
                 class="main.kotlin.service.kotlin.ConvertToArray"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToArray">
         </action>
         <action
                 label="%menu_kotlin_convert_to_stack"
                 class="main.kotlin.service.kotlin.ConvertToStack"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToStack">
         </action>
         <action
                 label="%menu_kotlin_convert_to_set"
                 class="main.kotlin.service.kotlin.ConvertToSet"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToSet">
         </action>
         <action
                 label="%menu_kotlin_convert_to_list"
                 class="main.kotlin.service.kotlin.ConvertToList"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToList">
         </action>
         <action
                 label="%menu_kotlin_convert_to_mutableset"
                 class="main.kotlin.service.kotlin.ConvertToMutableSet"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToMutableSet">
         </action>
         <action
                 label="%menu_kotlin_convert_to_mutablelist"
                 class="main.kotlin.service.kotlin.ConvertToMutableList"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToMutableList">
         </action>
         <action
                 label="%menu_kotlin_convert_to_class"
                 class="main.kotlin.service.kotlin.ConvertToClass"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToClass">
         </action>
         <action
                 label="%menu_kotlin_convert_to_inner_class"
                 class="main.kotlin.service.kotlin.ConvertToInnerClass"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToInnerClass">
         </action>
         <action
                 label="%menu_kotlin_convert_to_companion_object"
                 class="main.kotlin.service.kotlin.ConvertToCompanionObject"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToCompanionObject">
         </action>
         <action
                 label="%menu_kotlin_convert_to_enum_class"
                 class="main.kotlin.service.kotlin.ConvertToEnumClass"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToEnumClass">
         </action>
         <action
                 label="%menu_kotlin_convert_to_data_class"
                 class="main.kotlin.service.kotlin.ConvertToDataClass"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToDataClass">
         </action>
         <action
                 label="%menu_kotlin_convert_to_object"
                 class="main.kotlin.service.kotlin.ConvertToObject"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.ConvertToObject">
         </action>
         <action
                 label="%menu_kotlin_add_primary_constructor"
                 class="main.kotlin.service.kotlin.AddPrimaryConstructor"
                 menubarPath="m+/kotlin/"
                 id="main.kotlin.service.kotlin.AddPrimaryConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="java"
                 label="%menu_java"
                 path="m+/java">
         </menu>
         <action
                 label="%menu_java_convert_to_no_collection"
                 class="main.kotlin.service.java.ConvertToNoCollection"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToNoCollection">
         </action>
         <action
                 label="%menu_java_convert_to_treemap"
                 class="main.kotlin.service.java.ConvertToTreeMap"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToTreeMap">
         </action>
         <action
                 label="%menu_java_convert_to_linkedhashmap"
                 class="main.kotlin.service.java.ConvertToLinkedHashMap"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToLinkedHashMap">
         </action>
         <action
                 label="%menu_java_convert_to_hashmap"
                 class="main.kotlin.service.java.ConvertToHashMap"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToHashMap">
         </action>
         <action
                 label="%menu_java_convert_to_map"
                 class="main.kotlin.service.java.ConvertToMap"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToMap">
         </action>
         <action
                 label="%menu_java_convert_to_stack"
                 class="main.kotlin.service.java.ConvertToStack"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToStack">
         </action>
         <action
                 label="%menu_java_convert_to_treeset"
                 class="main.kotlin.service.java.ConvertToTreeSet"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToTreeSet">
         </action>
         <action
                 label="%menu_java_convert_to_linkedhashset"
                 class="main.kotlin.service.java.ConvertToLinkedHashSet"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToLinkedHashSet">
         </action>
         <action
                 label="%menu_java_convert_to_hashset"
                 class="main.kotlin.service.java.ConvertToHashSet"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToHashSet">
         </action>
         <action
                 label="%menu_java_convert_to_linkedlist"
                 class="main.kotlin.service.java.ConvertToLinkedList"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToLinkedList">
         </action>
         <action
                 label="%menu_java_convert_to_arraylist"
                 class="main.kotlin.service.java.ConvertToArrayList"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToArrayList">
         </action>
         <action
                 label="%menu_java_convert_to_array"
                 class="main.kotlin.service.java.ConvertToArray"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToArray">
         </action>
         <action
                 label="%menu_java_convert_to_set"
                 class="main.kotlin.service.java.ConvertToSet"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToSet">
         </action>
         <action
                 label="%menu_java_convert_to_list"
                 class="main.kotlin.service.java.ConvertToList"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToList">
         </action>
         <action
                 label="%menu_java_add_getter_setter"
                 class="main.kotlin.service.java.AddGetterSetter"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.AddGetterSetter">
         </action>
         <action
                 label="%menu_java_add_setter"
                 class="main.kotlin.service.java.AddSetter"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.AddSetter">
         </action>
         <action
                 label="%menu_java_add_getter"
                 class="main.kotlin.service.java.AddGetter"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.AddGetter">
         </action>
         <action
                 label="%menu_java_convert_to_class"
                 class="main.kotlin.service.java.ConvertToClass"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToClass">
         </action>
         <action
                 label="%menu_java_convert_to_enum"
                 class="main.kotlin.service.java.ConvertToEnum"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.ConvertToEnum">
         </action>
         <action
                 label="%menu_java_add_constructor"
                 class="main.kotlin.service.java.AddConstructor"
                 menubarPath="m+/java/"
                 id="main.kotlin.service.java.AddConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="python"
                 label="%menu_python"
                 path="m+/python">
         </menu>
         <action
                 label="%menu_python_add_getter_setter"
                 class="main.kotlin.service.python.AddGetterSetter"
                 menubarPath="m+/python/"
                 id="main.kotlin.service.python.AddGetterSetter">
         </action>
         <action
                 label="%menu_python_add_getter"
                 class="main.kotlin.service.python.AddGetter"
                 menubarPath="m+/python/"
                 id="main.kotlin.service.python.AddGetter">
         </action>
         <action
                 label="%menu_python_convert_to_class"
                 class="main.kotlin.service.python.ConvertToClass"
                 menubarPath="m+/python/"
                 id="main.kotlin.service.python.ConvertToClass">
         </action>
         <action
                 label="%menu_python_convert_to_enum"
                 class="main.kotlin.service.python.ConvertToEnum"
                 menubarPath="m+/python/"
                 id="main.kotlin.service.python.ConvertToEnum">
         </action>
         <action
                 label="%menu_python_add_destructor"
                 class="main.kotlin.service.python.AddDestructor"
                 menubarPath="m+/python/"
                 id="main.kotlin.service.python.AddDestructor">
         </action>
         <action
                 label="%menu_python_add_constructor"
                 class="main.kotlin.service.python.AddConstructor"
                 menubarPath="m+/python/"
                 id="main.kotlin.service.python.AddConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="ruby"
                 label="%menu_ruby"
                 path="m+/ruby">
         </menu>
         <action
                 label="%menu_ruby_convert_to_class"
                 class="main.kotlin.service.ruby.ConvertToClass"
                 menubarPath="m+/ruby/"
                 id="main.kotlin.service.ruby.ConvertToClass">
         </action>
         <action
                 label="%menu_ruby_convert_to_module"
                 class="main.kotlin.service.ruby.ConvertToModule"
                 menubarPath="m+/ruby/"
                 id="main.kotlin.service.ruby.ConvertToModule">
         </action>
         <action
                 label="%menu_ruby_add_initialize"
                 class="main.kotlin.service.ruby.AddInitialize"
                 menubarPath="m+/ruby/"
                 id="main.kotlin.service.ruby.AddInitialize">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="scala"
                 label="%menu_scala"
                 path="m+/scala">
         </menu>
         <action
                 label="%menu_scala_convert_to_no_collection"
                 class="main.kotlin.service.scala.ConvertToNoCollection"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToNoCollection">
         </action>
         <action
                 label="%menu_scala_convert_to_treemap"
                 class="main.kotlin.service.scala.ConvertToTreeMap"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToTreeMap">
         </action>
         <action
                 label="%menu_scala_convert_to_linkedhashmap"
                 class="main.kotlin.service.scala.ConvertToLinkedHashMap"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToLinkedHashMap">
         </action>
         <action
                 label="%menu_scala_convert_to_hashmap"
                 class="main.kotlin.service.scala.ConvertToHashMap"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToHashMap">
         </action>
         <action
                 label="%menu_scala_convert_to_map"
                 class="main.kotlin.service.scala.ConvertToMap"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToMap">
         </action>
         <action
                 label="%menu_scala_convert_to_stack"
                 class="main.kotlin.service.scala.ConvertToStack"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToStack">
         </action>
         <action
                 label="%menu_scala_convert_to_treeset"
                 class="main.kotlin.service.scala.ConvertToTreeSet"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToTreeSet">
         </action>
         <action
                 label="%menu_scala_convert_to_linkedhashset"
                 class="main.kotlin.service.scala.ConvertToLinkedHashSet"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToLinkedHashSet">
         </action>
         <action
                 label="%menu_scala_convert_to_hashset"
                 class="main.kotlin.service.scala.ConvertToHashSet"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToHashSet">
         </action>
         <action
                 label="%menu_scala_convert_to_linkedlist"
                 class="main.kotlin.service.scala.ConvertToLinkedList"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToLinkedList">
         </action>
         <action
                 label="%menu_scala_convert_to_list"
                 class="main.kotlin.service.scala.ConvertToList"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToList">
         </action>
         <action
                 label="%menu_scala_convert_to_arraylist"
                 class="main.kotlin.service.scala.ConvertToArrayList"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToArrayList">
         </action>
         <action
                 label="%menu_scala_convert_to_array"
                 class="main.kotlin.service.scala.ConvertToArray"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToArray">
         </action>
         <action
                 label="%menu_scala_convert_to_set"
                 class="main.kotlin.service.scala.ConvertToSet"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToSet">
         </action>
         <action
                 label="%menu_scala_convert_to_seq"
                 class="main.kotlin.service.scala.ConvertToSeq"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToSeq">
         </action>
         <action
                 label="%menu_scala_convert_to_class"
                 class="main.kotlin.service.scala.ConvertToClass"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToClass">
         </action>
         <action
                 label="%menu_scala_convert_to_case_class"
                 class="main.kotlin.service.scala.ConvertToCaseClass"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToCaseClass">
         </action>
         <action
                 label="%menu_scala_convert_to_object"
                 class="main.kotlin.service.scala.ConvertToObject"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToObject">
         </action>
         <action
                 label="%menu_scala_convert_to_trait"
                 class="main.kotlin.service.scala.ConvertToTrait"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.ConvertToTrait">
         </action>
         <action
                 label="%menu_scala_add_primary_constructor"
                 class="main.kotlin.service.scala.AddPrimaryConstructor"
                 menubarPath="m+/scala/"
                 id="main.kotlin.service.scala.AddPrimaryConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="swift"
                 label="%menu_swift"
                 path="m+/swift">
         </menu>
         <action
                 label="%menu_swift_convert_to_class"
                 class="main.kotlin.service.swift.ConvertToClass"
                 menubarPath="m+/swift/"
                 id="main.kotlin.service.swift.ConvertToClass">
         </action>
         <action
                 label="%menu_swift_convert_to_protocol"
                 class="main.kotlin.service.swift.ConvertToProtocol"
                 menubarPath="m+/swift/"
                 id="main.kotlin.service.swift.ConvertToProtocol">
         </action>
         <action
                 label="%menu_swift_convert_to_enum"
                 class="main.kotlin.service.swift.ConvertToEnum"
                 menubarPath="m+/swift/"
                 id="main.kotlin.service.swift.ConvertToEnum">
         </action>
         <action
                 label="%menu_swift_convert_to_struct"
                 class="main.kotlin.service.swift.ConvertToStruct"
                 menubarPath="m+/swift/"
                 id="main.kotlin.service.swift.ConvertToStruct">
         </action>
         <action
                 label="%menu_swift_add_deinit"
                 class="main.kotlin.service.swift.AddDeinit"
                 menubarPath="m+/swift/"
                 id="main.kotlin.service.swift.AddDeinit">
         </action>
         <action
                 label="%menu_swift_add_init"
                 class="main.kotlin.service.swift.AddInit"
                 menubarPath="m+/swift/"
                 id="main.kotlin.service.swift.AddInit">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="typescript"
                 label="%menu_typescript"
                 path="m+/typescript">
         </menu>
         <action
                 label="%menu_typescript_convert_to_no_collection"
                 class="main.kotlin.service.typescript.ConvertToNoCollection"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.ConvertToNoCollection">
         </action>
         <action
                 label="%menu_typescript_convert_to_map"
                 class="main.kotlin.service.typescript.ConvertToMap"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.ConvertToMap">
         </action>
         <action
                 label="%menu_typescript_convert_to_set"
                 class="main.kotlin.service.typescript.ConvertToSet"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.ConvertToSet">
         </action>
         <action
                 label="%menu_typescript_convert_to_array"
                 class="main.kotlin.service.typescript.ConvertToArray"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.ConvertToArray">
         </action>
         <action
                 label="%menu_typescript_add_getter_setter"
                 class="main.kotlin.service.typescript.AddGetterSetter"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.AddGetterSetter">
         </action>
         <action
                 label="%menu_typescript_add_setter"
                 class="main.kotlin.service.typescript.AddSetter"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.AddSetter">
         </action>
         <action
                 label="%menu_typescript_add_getter"
                 class="main.kotlin.service.typescript.AddGetter"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.AddGetter">
         </action>
         <action
                 label="%menu_typescript_convert_to_class"
                 class="main.kotlin.service.typescript.ConvertToClass"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.ConvertToClass">
         </action>
         <action
                 label="%menu_typescript_convert_to_enum"
                 class="main.kotlin.service.typescript.ConvertToEnum"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.ConvertToEnum">
         </action>
         <action
                 label="%menu_typescript_add_constructor"
                 class="main.kotlin.service.typescript.AddConstructor"
                 menubarPath="m+/typescript/"
                 id="main.kotlin.service.typescript.AddConstructor">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="alloy"
                 label="%menu_alloy"
                 path="m+/alloy">
         </menu>
         <action
                 label="%menu_alloy_convert_to_signature"
                 class="main.kotlin.service.alloy.ConvertToSignature"
                 menubarPath="m+/alloy/"
                 id="main.kotlin.service.alloy.ConvertToSignature">
         </action>
         <action
                 label="%menu_alloy_convert_to_enum"
                 class="main.kotlin.service.alloy.ConvertToEnum"
                 menubarPath="m+/alloy/"
                 id="main.kotlin.service.alloy.ConvertToEnum">
         </action>
      </actionSet>
      <actionSet>
         <menu
                 id="vdmpp"
                 label="%menu_vdmpp"
                 path="m+/vdmpp">
         </menu>
         <action
                 label="%menu_vdmpp_convert_to_operation"
                 class="main.kotlin.service.vdmpp.ConvertToOperation"
                 menubarPath="m+/vdmpp/"
                 id="main.kotlin.service.vdmpp.ConvertToOperation">
         </action>
         <action
                 label="%menu_vdmpp_convert_to_total_function"
                 class="main.kotlin.service.vdmpp.ConvertToTotalFunction"
                 menubarPath="m+/vdmpp/"
                 id="main.kotlin.service.vdmpp.ConvertToTotalFunction">
         </action>
         <action
                 label="%menu_vdmpp_convert_to_partial_function"
                 class="main.kotlin.service.vdmpp.ConvertToPartialFunction"
                 menubarPath="m+/vdmpp/"
                 id="main.kotlin.service.vdmpp.ConvertToPartialFunction">
         </action>
      </actionSet>
   </extension>
</plugin>
